<footer class="footer">
  <small>
    The <a>Projekt RoR</a>
    by <a>Konrad W</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
   </ul>
   
  </nav>
</footer>
