<div class="container">
  <h2>Użytkownicy</h2>
  <%= link_to "Użytkownicy",root_path, class: "btn btn-primary" %>

<%= link_to "Nowy", new_user_path, class: "btn btn-primary" %>
  <%= link_to "Działy", new_department_path, class: "btn btn-primary" %>

</div>
